header {
    text-align: center;
    padding: 1.5em;
    font-weight: normal;
    position: relative;
}

header::after {
    content: '';
    position: absolute;

    width: 95%;
    height: 0.1em;

    left: 50%;
    bottom: 0;
    translate: -50%;

    background-color: var(--line-color-off);
}
