
#alert {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    width: max-content;
    height: max-content;
    
    justify-items: center;
    
    top: -5px;
    left: 50%;
    translate: -50%;

    transform: translateY(-100%);
    
    transition: transform 2s ease-in-out;

    z-index: 2;
}

#alert-top {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--white);
}

#alert-message {
    border-radius: 10px;
    background-color: var(--white);

    width: max-content;
    height: max-content;

    padding: 0.75em;
}

#alert-message h2 {
    color: var(--tertiary-color);
    font-size: 1.5em;
    font-weight: normal;
}

#alert.show {
    transform: translateY(0);
}