/* ============ BLUR DE ATIVAÇÃO DA MEMÓRIA ============ */

#screenBlur {
    /* Fixo na tela */
    position: fixed;

    /* Centralizado */
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    /* Ser circular */
    border-radius: 50%;

    /* Deixar menos sólido */
    filter: blur(2em);
    aspect-ratio: 1 / 1;

    background-color: var(--white);

    /* Em cima de tudo */
    z-index: 10;

    /* Efeito de fade out */
    transition: opacity 4s ease-in-out;
}

.wideBlur {
    /* Cobrir toda tela toda*/
    width: 200vw;

    /* Animação para crescer */
    animation: var(--blur-grow-anim-w);
}

.longBlur {
    /* Cobrir toda tela toda*/
    height: 200vh;

    /* Animação para crescer */
    animation: var(--blur-grow-anim-h);
}

#screenBlur.fadeOut {
    opacity: 0;
}
