/* Importa tudo que está dentro do main */

/* ============ IMPORTS ============ */

/* Orbe */
@import url("./secret-orb/orb.css");
@import url("./secret-orb/dialogs.css");
@import url("./secret-orb/ring.css");

/* Memórias */
@import url("./memories/memory.css");
@import url("./memories/active-memory.css");
@import url("./memories/memory-btn.css");
@import url("./memories/blur.css");
@import url("./memories/alert.css");


main {
    /* Centralizar os elementos */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    min-height: 100vh;
}
