/* ============ TEXTOS DO ORBE ============ */

#secretDialog {
    grid-area: dialog;

    text-shadow: var(--dialog-text-shadow);
    text-align: center;
    font-size: 1em;
    color: var(--dialog-color);

    /* Para fazer o efeito de fade out */
    transition: opacity 2s ease-in-out;

    /* Levitação */
    animation: var(--levitate-anim-secret);
}

/* ANIMAÇÃO: fade-in / fade-out do texto */
#secretDialog.fadeOut {
    opacity: 0;
}
