@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Módulos */
@import url("./variables.css");

@import url("./header/header.css");

@import url("./main/main.css");

@import url("./footer/footer.css");

/* ================ GLOBAIS ================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============ BODY ============ */
body {
    background-color: var(--bg-color-off);
    color: var(--font-color-off);

    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;

    font-family: var(--main-font);
}

/* ANIMAÇÃO: shake do body */
.shake {
    animation: screenShake 0.2s linear;
}
