/* ================ KEYFRAMES ================ */

/* Levitação: objeto sobe e desce */
@keyframes levitate {
    0% {
        transform: translateY(-10px);

    } 100% {
        transform: translateY(10px);
    }  
}

/* Screen Shake: faz a leta tremer */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(10px);
    }

    66% {
        transform: translateX(-10px);
    }
}

/* Rotação de borda */
@keyframes borderSpin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* Animação do blur crescendo se width > height */
@keyframes growBlurW {
    from {
        width: 0;
    }

    to {
        width: 150vw;
    }
}

/* Animação do blur crescendo se width < height */
@keyframes growBlurH {
    from {
        height: 0;
    }

    to {
        height: 150vh;
    }
}

/* ================ PROPERTIES ================ */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    /* ================ FONTES ================ */
    --main-font: 'Open Sans', Arial, sans-serif;


    /* ================ PALETA ================ */
    --white: #e6e6e6;
    --black: #252525;
    --dark-gray1: #464646;
    --dark-gray2: #323232;

    --primary-color: #81C0FF;
    --secondary-color: #91AECC;
    --tertiary-color: #192633;


    --transparent: #3434341a;
    --transparent-purple: #8869f04b;

    --star-primary-color: #8969F0;
    --star-secondary-color: #3F3264;

    --sun-primary-color: #ff8800;
    --sun-secondary-color: #a12a15;

    --field-primary-color: #93df19;
    --field-secondary-color: #0e7e17;

    --golden-primary-color: #f9f557;
    --golden-secondary-color: #5b412a;

    --sea-primary-color: #ff48e0;
    --sea-secondary-color: #b31f44;

    --bg-color-off: var(--black);
    --font-color-off: var(--white);
    --line-color-off: #c8c8c8;

    --memory-title-color: var(--dark-gray1);
    --memory-text-color: var(--dark-gray2);

    --button-color: var(--dark-gray2);
    --dialog-color: var(--white);

    --bg-color-1: #4e4e4e;
    

    --bg-color-2: #646363;
    
    --bg-color-3: #7a7a7a;
    --bg-color-4: #a8a8a8;
    --bg-color-5: #cfcfcf;


    /* ================ SOMBRAS ================ */

    --orb-shadow: none;

    /* Sombra do texto dentro do orbe */
    --orb-text-shadow: 2px 2px 4px var(--black);

    /* Sombra do texto dos diálogos do secret */
    --dialog-text-shadow: 0px 0px 6px var(--white);

    /* Sombra da área dos textos transparentes*/
    --transparent-shadow: 4px 4px 8px var(--transparent), -4px -4px 8px var(--transparent);

    /* Sombra da área das memórias ativas */
    --memory-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.7), inset 0px -6px 10px rgba(0, 0, 0, 0.7);

    /* Sombra dos textos das memórias */
    --memory-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);

    /* Sombra dos botões */
    --button-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);


    /* ================ ANIMAÇÕES ================ */
    
    /* Controla a animação do orbe do segredo e seu diálogo */
    --levitate-anim-secret: levitate 3s ease-in-out infinite alternate;

    /* Orbe tremendo cancelando o click */
    --shake-anim: shake 0.2s ease-in-out;

    /* Controla a animação dos botões de lembrança */
    --levitate-anim-button: levitate 1.5s ease-in-out infinite alternate;

    /* Controla o giro da borda nos botões (gradiente) */
    --border-spin-anim: borderSpin 3s linear infinite;

    /* Controla o crescimento do blur */
    --blur-grow-anim-w: growBlurW 5s ease-in-out; /* width > height */
    --blur-grow-anim-h: growBlurH 5s ease-in-out; /* width < height */
}
